@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f6f5f7;
}

:root {
    --body-color: #343637;
    --sidebar-color: #242526;
    --primary-text-color: #f6f5f7;
    --primary-color: #3a3b3c;
    --primary-color-light: #404042;
    --primary-header--color: #404042;
    --toggle-color: #fff;
    --text-color: #f6f5f7;
    --secondary--text--color: #abaaab;
    --tertiary--text--color: #3ea7fe;
    --primary--button--bg: #242630;
    --primary--button--hover: #454544;
    --primary--button--text: #f6f5f7;
    --light--filled--button--bg: #f6f5f7;
    --light--filled--button--hover: #d8d8d9;
    --light--filled--button--text: #0e0e0f;
    --dark--filled--button--bg: #212121;
    --dark--filled--button--box--shadow: 0 4px 4px rgba(0, 0, 0, 0.3),
        0 0 4px rgba(0, 0, 0, 0.2);
    --card--background: #262627;
    --tertiary--button--border: #3f3f3f;
    --dropdown--background: #ffffff;
    --modal--background--color: #212121;
    --modal--card--hover--bg: rgba(255, 255, 255, 0.2);
    --icon--inactive: #ffffff;
    --icon--disabled: #717171;

    /* ========= Transition ======== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    background: var(--body-color);
}

.primary__button {
    background-color: var(--primary--button--bg);
    color: var(--primary--button--text);
    padding: 8px 24px;
    outline: none;
    width: 100%;
    font-size: clamp(18px, 2vmin, 32px);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition:
        transform,
        0.2s ease,
        box-shadow 0.5s ease;
    transform: scale(0.95);
    box-shadow: inset 20px 15px 20px var(--primary--button--hover);
}

.primary__button:hover {
    box-shadow: inset 20px 45px 20px var(--primary--button--hover);
    transform: scale(1);
}

.primary__button:active {
    transform: scale(0.95);
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
